# python -m pip install -r requirements.txt
Flask
flask-pymongo
python-dotenv
mongoengine
requests
flask-cors
bcrypt
PyJWT
cloudinary
fastapi
pydantic
google-auth
google-auth-oauthlib
google-api-python-client