# pip install -r requirements.txt
mongoengine
bcrypt
PyJWT
cloudinary
pydantic
pydantic_settings
requests
fastapi
uvicorn
google_auth
google-auth-oauthlib
google-api-python-client
google-cloud-texttospeech
google.generativeai
moviepy
audioread